/* App.css */

body {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

.countdown-card {
  perspective: 1000px;
  width: 100px;
  height: 150px;
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.countdown-card.flipped {
  transform: rotateY(180deg);
}

.countdown-card > div {
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
}

.countdown-card .front {
  background-color: hsl(237, 18%, 59%);
  color: hsl(0, 0%, 100%);
}

.countdown-card .back {
  background-color: hsl(345, 95%, 68%);
  color: hsl(0, 0%, 100%);
}
